<!-- views/about.ejs -->

<!doctype html>
<html>
<head>
    <% include includes/head %>
</head>

<body class="container">

    <header>
        <% include includes/header %>
    </header>

<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> About Us Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>


</div>

    <footer>
        <% include includes/footer %>
    </footer>

</body>
</html>