<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <% include includes/head %>
</head>

<body class="container">

    <header>
        <% include includes/header %>
    </header>

<div class="container">


    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span> Node Authentication</h1>

        <p>Login or Register with:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
    </div>

</div>

    <footer>
        <% include includes/footer %>
    </footer>

</body>
</html>